.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 200;
  width: 100%;
  display: flex;
  gap: 5px;
  padding: 15px;
}

.navbar > * {
  height: 50px;
  background-color: var(--bg-pr);
  border-radius: 10px;
  transition: transform 0.4s, box-shadow 0.4s;
  box-shadow: var(--shadow2);
}
.navbar > *:hover {
  box-shadow: var(--shadow1);
  z-index: 210;
}

.navbar__brand {
  flex-shrink: 0;
}
.navbar__brand:hover {
  transform: scale(1.1);
}

.navbar__brand-logo {
  display: inline-block;
  height: 100%;
  line-height: 50px;
  color: var(--accent1);
  font-weight: 800;
  font-size: 30px;
  padding: 0 10px;
}

.navbar__links {
  flex-grow: 1;
  padding: 0 10px;
  white-space: nowrap;
}

.navbar__link {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  height: 100%;
  line-height: 50px;
  color: var(--text-pr);
  padding: 0 10px;
  transition: color 0.2s, transform 0.4s;
}
.navbar__link:hover {
  color: var(--accent1);
  transform: scale(1.1);
}
.navbar__link.active {
  color: var(--accent1);
}

.navbar__option {
  height: 50px;
  width: 50px;
  flex-shrink: 0;
}
.navbar__option:hover {
  transform: scale(1.1);
}

@media (max-width: 500px) {
  .navbar {
    padding: 10px;
    zoom: 0.9;
  }
}
@media (max-width: 400px) {
  .navbar {
    zoom: 0.8;
  }
}
