.home {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.error {
  background-color: var(--bg-pr);
  padding: 30px;
  width: 280px;
  margin-top: 50px;
  border-radius: 30px;
  animation: moveInErr 0.3s ease-out;
}

.error__sad-face {
  font-weight: 800;
  font-size: 60px;
  color: var(--text-sc);
  margin-bottom: 35px;
  margin-top: 10px;
  opacity: 0.5;
}

.error__message {
  font-weight: 700;
  color: var(--text-pr);
  line-height: 1.2;
}

@keyframes moveInErr {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}