.home {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.search-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.search {
  max-width: 440px;
  flex-basis: 200px;
  flex-grow: 0.5;
  background-color: var(--bg-pr);
  height: 40px;
  border-radius: 20px;
  display: flex;
  transition: transform 0.4s, box-shadow 0.4s;
}
.search:hover,
.search.focused {
  transform: scale(1.05);
  box-shadow: var(--shadow2);
}

.search__input {
  font-size: 14px;
  font-weight: 700;
  flex-grow: 1;
  padding: 0 15px;
  color: var(--text-pr);
}
.search__input::placeholder {
  color: var(--text-sc);
  font-weight: 400;
}

.search__button {
  width: 40px;
  height: 40px;
  text-align: center;
}

.search__button svg {
  height: 40px;
}
.search__button svg path {
  fill: var(--text-pr);
  transition: fill 0.2s;
}
.search__button:hover svg path {
  fill: var(--accent1);
}

.centering-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.error {
  background-color: var(--bg-pr);
  padding: 30px;
  width: 280px;
  border-radius: 30px;
  animation: moveIn 0.3s ease-out;
}

.error__sad-face {
  font-weight: 800;
  font-size: 60px;
  color: var(--text-sc);
  margin-bottom: 35px;
  margin-top: 10px;
  opacity: 0.5;
}

.error__message {
  font-weight: 700;
  color: var(--text-pr);
  line-height: 1.2;
}

.loading {
  height: 100px;
  width: 100px;
  animation: moveIn 0.3s ease-out;
}

@keyframes moveIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}