:root {
  font-family: Manrope, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-pr: #ffffff;
  --bg-sc: #E6E6E6;
  --text-pr: #1a1a1a;
  --text-sc: #808080;
  --accent1: #3d3feb;
  --shadow1: 0 0 10px rgba(0, 0, 0, 0.2);
  --shadow2: 0 0 5px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: Manrope, system-ui, sans-serif;
  line-height: 1;
  font-weight: 400;
  background: none;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  color: var(--text-pr);
  background-color: var(--bg);
  width: 100%;
  background-color: var(--bg-sc);
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1a1a1a;
    --text-pr: #ffffff;
    --text-sc: #808080;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}