.dd {
  height: 50px;
  width: 50px;
  position: relative;
}

.dd__button {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  color: var(--text-pr);
  transition: color 0.2s;
}

.dd__button:hover {
  color: var(--accent1);
}

.dd__list {
  position: absolute;
  top: 55px;
  right: 0px;
  background-color: var(--bg-pr);
  border-radius: 10px;
  box-shadow: var(--shadow2);
  transition: box-shadow 0.4s;
  padding: 10px 0;
  animation: showDdList 0.2s ease-out;
}
.dd__list:hover {
  box-shadow: var(--shadow1);
}

@keyframes showDdList {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dd__option {
  width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  padding: 5px 15px;
  transition: color 0.2s;
}
.dd__option:hover,
.dd__option:hover span {
  color: var(--accent1);
}

.lang-code {
  font-weight: 400;
  font-size: 12px;
  color: var(--text-sc);
  margin-left: 10px;
  transition: color 0.2s;
}