.movie-card {
  width: 300px;
  height: 500px;
  background-color: var(--bg-pr);
  border-radius: 30px;
  padding: 5px;
  overflow: hidden;
  position: relative;
  transition: transform 0.4s, box-shadow 0.4s;
  display: flex;
  flex-direction: column;
  animation: moveIn 0.3s ease-out;
}

@keyframes moveIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.movie-card:hover {
  transform: scale(1.02);
  z-index: 100;
  box-shadow: var(--shadow1);
}

.movie-card__favorite-btn {
  opacity: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--bg-pr);
  border-radius: 50%;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: opacity 0.4s, box-shadow 0.4s, transform 0.4s;
  padding-top: 5px;
}
.movie-card__favorite-btn.active {
  opacity: 1;
}
.movie-card__favorite-btn:hover {
  box-shadow: var(--shadow1);
  transform: scale(1.1);
}
.movie-card:hover .movie-card__favorite-btn {
  opacity: 1;
}

.movie-card__favorite-btn svg path {
  fill: var(--text-pr);
}
.movie-card__favorite-btn.active svg path {
  fill: var(--accent1);
}

.movie-card__poster {
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  flex-grow: 1;
}

.movie-card__poster-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.2));
  pointer-events: none;
}

.movie-card__poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-card__info {
  background-color: white;
  width: 100%;
  padding: 15px;
  text-align: left;
  border-radius: 10px 10px 0px 0px;
}

.movie-card__title {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-pr);
  margin-bottom: 6px;
}

.movie-card__date {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-sc);
}