.theme-toggle {
  width: 50px;
  height: 50px;
  text-align: center;
}

.theme-toggle svg {
  height: 50px;
}

.theme-toggle svg > g {
  fill: var(--accent1);
}
.theme-toggle.dark svg > g {
  fill: var(--text-sc);
}