.theme-toggle {
  width: 50px;
  height: 50px;
  text-align: center;
}

.theme-toggle svg {
  height: 50px;
  fill: var(--accent1);
  transition: fill 0.2s;
}

.theme-toggle.dark svg {
  fill: var(--text-sc);
}

.theme-toggle:hover svg {
  fill: var(--accent1);
}